@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ingrid+Darling&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1f1404;
  overflow-x: hidden; 

}
.header {
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding:25px 40px;
  color: rgb(0, 0, 0);
  transition: all 0.5s;
  position:fixed;
  width: 100%;
  z-index: 999;
}
.header-scrolled{
  background-color: #1b1205;
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.15);
  color:rgb(252, 252, 252);
  text-shadow: 0px 0px 20px rgb(243, 243, 243);
}
.logo {
  font-family:'Merriweather', serif;
  font-size: 1.9rem;
  font-weight: 300;
  text-shadow: 0px 0px 20px rgb(6, 6, 6);
}
hr {
  background-color: rgb(69, 81, 28);
  height: 0.1rem;
  border: none;
}

.hero {
  width: 100%;
  height: 100vh; /* Use viewport height for responsiveness */
  background-color: #f4f4f4;
  background-image: url("Yerba-Mate2-415x276.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column; /* Use flexbox for centering */
  justify-content: center; /* Center content vertically */
  text-align: center;
  padding: 0 2rem; /* Responsive padding */
}

.hero__h1 {
  text-align: left;
  position: absolute;
  font-size: 7vw;
  color: rgba(12, 12, 12, 0.927);
  font-family: "Averia Serif Libre", cursive;
  font-weight: 900;
  padding: 1rem;
  margin-top: -12rem;
  padding-left: 6rem;
  text-shadow: 0px 0px 20px rgb(142, 167, 60);
}
.hero__h2a {
  text-align: left;

  position: absolute;
  font-size: 2rem;
  color: rgb(248, 247, 247);
  font-family: "Averia Serif Libre", cursive;
  font-weight: 100;
  padding: 1rem;
  margin-top: 5rem;
  padding-left: 7rem;
  text-shadow: 0px 0px 20px rgb(142, 167, 60);
}

.hero__h2 {
  rotate: -13deg;
  font-weight: bold;
  font-style: italic;
  font-size: 1.5rem;
  font-family: "Averia Serif Libre", cursive;
  color: rgb(142, 167, 60);
  animation: fadeInOut 3s infinite;
  margin-top: 12rem;
  text-shadow: 0px 0px 20px rgb(250, 247, 247);
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.boxes {
  background-color: #1f1404; /* Light background */
  display: flex;
  justify-content: space-around;
  padding: 20px;
  padding-top: 12rem;
  padding-bottom: 12rem;
}
.boxes__h1{
  font-family: "Averia Serif Libre", cursive;
  font-size: 5rem;
  color: rgb(242, 242, 242);
  text-shadow: 0px 0px 20px rgb(142, 167, 60);
  text-align: center;
  padding-top: 15rem;
  height:15rem;
}

.box {
  flex: 1;
  margin: 0 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px #1f1404;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: white;
  transition: transform 1.2s;
}
.box:hover {
  box-shadow: 0 2px 24px rgb(177, 208, 75);
  transform: scale(1.1);
}

.box-image {
  height: 500px;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}

.box-content {
  padding: 20px;
  background-color: white;
  text-align: center;
}

.box h2 {
  margin: 0;
  font-size: 1.9rem;
  font-weight: 900;
  color: black;
  font-family: "Averia Serif Libre", cursive;
  text-shadow: 0px 0px 20px rgb(142, 167, 60);
  line-height: 4rem;
}

.box p {
  margin: 10px 0;
  font-size: 1.1rem;
  color: black;
  text-align: left;
  text-align: justify;
  font-family: "nunito", sans-serif;
  font-weight: 600;
  line-height: 1.7rem;
  padding: 0.7rem;
  margin-top: -1rem;
}
.mate_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.history {
  background-color:#cfdcb9;
  display: flex;
  flex-direction: row; /* Keep items in a row */
  align-items: flex-start; /* Align items at the start */
  padding: 20px;
  padding-top: 15rem;
  padding-bottom: 20rem;
}
.history__h2 {
  text-align: center;
  padding: 2rem;
  font-family: "Averia Serif Libre", cursive;
  font-size: 6rem;
  text-shadow: 0px 0px 20px rgb(142, 167, 60);
  color: rgb(0, 0, 0);
}
.box__history {
  flex: 1; /* Allow the image to grow */
  max-width: 50%; /* Limit the width of the image */
}

.box__history img {
  width: 100%;
  border: 1px solid rgb(142, 167, 60);
  border-radius: 8px;
  height: auto;
  max-width:36vw; /* Ensure image scales properly */
  margin-left: 3rem;
}

.box-content__history {
  flex: 1; /* Allow the text content to grow */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Center text vertically */
  padding: 20px; /* Add padding for better spacing */
  color: rgb(0, 0, 0);
  margin-left: -7rem;
  font-weight: 500px;
}
.history__nav {
  display: flex;
  justify-content: center; /* Center the buttons */
  gap: 20px; /* Add space between buttons */
  margin-bottom: 1rem; /* Space above content */
}

.history__slides {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center elements */
}

.history__content {
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Stack elements vertically */
  max-width: 800px; /* Limit width for better readability */
  margin: 0 auto; /* Center the content */
  padding-left: 0;
  height: auto; 
  min-height: 200px;
  
}
.history__paragraph {
  min-height: 150px; 
  display: none;
  text-align: left; /* Keep text aligned left */
  width: 100%; /* Ensure it uses the full width of its container */
  padding: 10px; /* Remove default margins */
  justify-content: space-between;
   
}

.history__paragraph h2 {
  font-size: 4rem;
  font-family: "Averia Serif Libre", cursive;
  color: rgb(1, 1, 1);
  text-shadow: 0px 0px 20px rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 2rem;
}
.box__p__history {
  font-family: "nunito", sans-serif;
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 1px;
  font-size: 1.5rem;
  line-height: 1.4;
  height:8rem;
  font-weight: 700;
}

.history__radio {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #aa3d0e;
  background-color: #aa3d0e;
}
.btn-1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin: -11rem 0 10px 0;
  font-family: "roboto", sans-serif;
  color: rgb(169, 39, 39);
  text-shadow: 0px 0px 20px rgb(142, 167, 60);
}
.btn-history {
  display: inline-block; /* Make it behave like a button */
  padding: 10px 20px; /* Add some padding for size */
  font-size: 1.2rem; /* Adjust font size */
  font-weight: 700;
  color: rgb(7, 7, 7); /* Button text color */
  background-color: #bcc786; /* Button background color */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  text-decoration: none; /* Remove underline */
  transition: background-color 0.3s, transform 0.1s, box-shadow 0.1s; /* Smooth transitions */
  box-shadow: 0 4px 6px rgba(102, 99, 99, 0.876); /* Shadow effect */
}

.btn-history:hover {
  background-color: #4ac325df; /* Darker background on hover */
}
.btn-history:active {
  transform: translateY(2px); /* Move the button down when pressed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Shadow effect for pressed state */
}

.history__arrow:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

footer {
  text-align: center;
  font-size: 1rem;
  color: rgb(213, 217, 200);
  background-color: #1f1404;
  padding: 1rem;
  margin-top: 1.7rem;
  display: flex;
  flex-direction: column;
  position: sticky;
  bottom: 0;
}
@media (min-width: 1920px) {
  /* Styles specific for large screens */
  .hero__h1 {
    font-size: 6rem; /* Larger font size */
  }
  .box-content__history{
    font-size: 5.5rem;
  }
}
@media (max-width: 1580px) {
  .history {
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: center; /* Center align content */
  }

  .box__history {
    max-width: 80%; /* Reduce the image width on smaller screens */
    margin: 0 auto; /* Center the image */
  }
  .box__history img {
    margin-left: -0.7rem;
  }

  .box-content__history {
    width: 100%; /* Use full width for text container */
    padding: 10px; /* Adjust padding for smaller screens */
    margin-left: 0; /* Reset margin-left for better alignment */
    text-align: center; /* Center text for better appearance */
  }

  .history__nav {
    justify-content: center; /* Keep buttons centered */
    margin-bottom: 1rem; /* Maintain space above content */
  }

  .history__h2 {
    font-size: 2rem; /* Adjust heading size for smaller screens */
    margin-bottom: 10px; /* Maintain spacing below the heading */
  }

  .history__paragraph {
    margin: 15px 0; /* Adjust spacing for paragraphs */
    text-align: left; /* Keep paragraphs left-aligned */
  }
  
  .health {
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: center; /* Center align content */
  }
}
@media (max-width: 1280px) {
  .hero__h1 {
    font-size: 4rem; /* Specific size for smaller screens */
  }
  .hero__h2a {
    font-size: 1.5rem; /* Adjust sizes */
  }
}

@media (max-width: 1024px) {
  .hero__h1 {
    font-size: 3rem;
    margin-top: -0.5rem;
  }
  .hero__h2a {
    font-size: 1.4rem;
    margin-top: 3rem;
  }
  .hero__h2 {
    font-size: 1.5rem;
    margin-top: 11rem;
  }
  .boxes {
    flex-direction: column; /* Stack on smaller screens */
    align-items: center;
  }
  .box {
    max-width: 90%; /* Center the boxes */
  }
}
@media (max-width: 768px) {
  .hero__h1 {
    font-size: 3rem;
    padding-left: 5rem;
  }
  .hero__h2a {
    font-size: 1.2rem;
    padding-left: 5.6rem;
  }

  .hero__h2 {
    font-size: 1.5rem;
    margin-top: rem;
  }

  .boxes {
    flex-direction: column;
    align-items: center;
  }

  .box {
    flex: 1 1 calc(33% - 20px);
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
  }
  .history {
    flex-direction: column; /* Stack items on smaller screens */
    align-items: center; /* Center everything */
    margin-top:-10rem;
  }
  .history__content {
    margin-bottom: 20px; /* Adjust margins specifically for mobile */
  }

  .box__history {
    max-width: 80%; /* Allow some space on the sides */
    margin: 0 auto; /* Center image on small devices */
  }

  .box-content__history {
    width: 80%; /* Center the text container */
  }
  .history__paragraph h2{
    height: 5rem;
    font-size: 1.9rem;
  }
  .box__p__history{
    height: 20rem;
    letter-spacing:normal;
    font-size: 1.5rem;
  }
  .box__history img {
    margin-left: .5rem;
    max-width: none; /* Allows it to reach the min-width without restriction */
  }
}

@media (max-width: 480px) {
  .hero__h1 {
    font-size: 2.3rem;
    padding-left: 2.6rem;
    margin-top: -3rem;
  }
  .hero__h2a {
    font-size: 1rem;
    padding-left: 3rem;
    margin-top: 0.2rem;
  }

  .hero__h2 {
    font-size: 1.5rem;
    margin-top: 11rem;
  }

  .box {
    width: 100%;
    max-width: 400px;
  }
  .box__p__history{
    height: 30rem;
  }
  .box__history img{
    width: 100%;
  }
  .history{
    margin-top:-10rem;
  }
}
@media (max-width: 400px) {
  .box__p__history {
    font-size: 1.1rem; /* Smaller font size */
    line-height: 1.2; 
    letter-spacing: normal; /* Reset letter spacing */
    text-align:justify; /* Reset text alignment */
    height:15rem;
  }

  .history__paragraph h2{
    font-size: 2rem; /* Smaller heading size */
  }

  .history__nav {
    margin-top: 10px; /* Less margin for buttons */
  }
}
.hamburger,
.close {
  border: none;
  cursor: pointer;
  /* position absolute position the icons relative to the body because they have no position relative parents*/
  position: absolute;
  top: 15px;
  right: 40px;
  width: 55px;
  height: 55px;
}

.hamburger {
  background: rgb(166, 232, 144);
  border-radius: 50%;
  box-shadow:#00000012 0 0 0 8px;
}

.close {
  background: rgb(166, 232, 144);
  border-radius: 50%;
}

.hamburger img,
.close img {
  width: 100%;
  height: 100%;
}

.navbar {
  position: absolute;
  /* a higher z-index put navbar above hamburger */
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  /* basic menu styling*/
  list-style: none;
  background: hsla(36, 78%, 7%, 0.899);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  /* animate slide up/down */
  transform: translateY(-100%);
  transition: transform 0.5s ease;
  will-change: transform;
}

/* :target is called when its anchor id #navbar is called by clicking on the hamburger which has href="#navbar" */

.navbar:target {
  /* show navbar */
  transform: translateY(0);
}

li a {
  display: block;
  font-family: "roboto", sans-serif;
  color: rgb(247, 249, 247);
  font-weight: 400;
  font-size: 1.8rem;
  /* remove default underline and add our own with padding and border bottom */
  text-decoration: none;
  border-bottom: 1px solid rgba(5, 5, 5, 0.12);
  padding-bottom: 0.5rem;
}

li a:hover,
li a:focus {
  /* show border bottom */
  border-bottom: 1px solid rgb(17, 255, 0);
}

.health-benefits {
  background-color: #1f1404;; /* Light background */
  padding: 50px 20px;
  text-align: center;
  padding-top: 15rem;
  padding-bottom: 15rem;
}

.health-benefits__title {
  font-family: "Averia Serif Libre", cursive;
  text-shadow: 0px 0px 20px rgb(142, 167, 60);
  font-size: 3.5rem;
  font-weight: 900;
  color: #ffffff;
  margin-bottom: 6rem;
  text-align: center;
}

.health-benefits__grid {
  display: flex;
  justify-content: center; /* Center items horizontally */
  flex-wrap: wrap; /* Allow items to wrap */
  gap: 7rem; /* Space between items */
  max-width: 1200px; /* Limit the width */
  margin: 0 auto; /* Center the grid */
}

.health-benefit {
  background-color: #ffffff; /* Card background */
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 10px rgb(15, 15, 15);
  transition: transform 0.3s;
  flex: 1 1 300px; /* Allow cards to grow and shrink, with a min width */
  max-width: 300px; /* Maximum card width */
  text-align: center; /* Center text in cards */
}

.health-benefit:hover {
  transform: translateY(-5px); /* Lift effect on hover */
}

.health-benefit img {
  max-width: 50px; /* Icon size */
  margin-bottom: 10px;
}

.health-benefit h3 {
  font-family: "nunito", sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  color: rgb(9, 9, 9);
  margin-bottom: 10px;
}

.health-benefit p {
  font-family: "nunito", sans-serif;
  color: rgb(8, 7, 7);
  font-size: 1rem;
  line-height: 1.5;
}
.icon-container {
  font-size: 50px;
  display: flex; /* Use flexbox to center items */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically if needed */
  flex-wrap: wrap; /* Wrap icons if needed */
  gap: 20px; /* Space between icons */
  margin: 20px 0; /* Margin around the container */
}
#yerba-mate-recipes {
  background-image: url("yerba10.png");
  background-size: cover; /* Scale the image to cover the entire element */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-position: center; /* Center the image */
  width: 100%; /* Make the element full width */
 /* Full height of the viewport */
  padding: 60px 60px;
  text-align: center;
 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding-top: 15rem;
  padding-bottom: 20rem;
}

#yerba-mate-recipes h2 {
  display: inline-block; /* Make it behave like a button */
  justify-content: center;
  padding: 10px 20px;
  font-family: "Averia Serif Libre", cursive;
  text-shadow: 0px 0px 70px rgb(100, 216, 113);
  font-size: 5rem;
  font-weight: 900;
  margin-bottom: 2rem;
  margin-top: 6rem;
  text-align: center;
  color: #090909;
}

.recipe-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.recipe-card {
  background: #1aff0172; /* Light beige background for the card */
  border-radius: 50%; /* Circular shape */
  border: 6px solid black; 
  box-shadow: 0 2px 10px rgb(13, 13, 13);
  width: 250px; /* Fixed width */
  height: 250px; /* Fixed height */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center-aligns content */
  justify-content: center; /* Centers content vertically */
  padding: 10px; /* Reduced padding */
  transition: transform 0.2s, box-shadow 0.2s; /* Add transition for shadow as well */
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.recipe-card h3 {
  font-family: "nunito", sans-serif;
  letter-spacing:1.4px;
  font-weight:700;
  font-size: 1.4rem; /* Adjusted font size */
  color: #fcfcfc;
  text-shadow:0px 0px 10px rgb(0, 0, 0);
  margin: 5px 0; /* Reduced margin */
  text-align: center; /* Centers the text */
  margin-top: 2rem;
}

.recipe-card p {
  font-family: "roboto", sans-serif;
  color: #000000; /* Slightly darker brown for paragraph */
  font-weight:900;
  line-height: 2;
  text-align: center; /* Centers the paragraph */
  font-size: 1.2rem; /* Adjusted font size */
  margin: 5px 0; /* Reduced margin */
  margin-top: 1rem;
  line-height: 1.2rem;
}

.recipe-card button {
  font-size: 1rem;
  background-color: #000000; /* Medium brown for buttons */
  color: white;
  border: 2px solid #0d8d01;
  border-radius: 50%;
  padding: 5px 10px; /* Adjusted padding for better fit */
  cursor: pointer;
  transition: background-color 0.3s;
  width: 80%; /* Makes button fill most of the card width */
  margin-top:20px; /* Margin to separate from text */
}

.recipe-card:hover {
  transform: scale(1.1); /* Scale up the card */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Slightly increase shadow on hover */
}
