@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ingrid+Darling&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1f1404;
}

nav {
  position: fixed;
  font-size: 1rem;
  top:0;
  left: 0;
  width: 100%; /* Ensures it stretches across the viewport */
  background-color: #1f1404;
  color: rgb(253, 253, 252);
  padding: 1rem;
  font-family: "Averia Serif Libre", cursive;
  z-index: 1000; /* High value to ensure it stays on top */
  border-bottom: solid 0.15rem rgb(44, 52, 18);
}

.hero {
  width: 100%;
  height: 830px;
  background-color: #f4f4f4;
  background-image: url("Yerba-Mate2-415x276.png");
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 20rem;
  margin-bottom: 2rem;
  position: relative;
  border-bottom: rgb(69, 81, 28) 0.1rem solid;
}

.hero__h1 {
  text-align: left;
  position: absolute;
  font-size: 5.5rem;
  color: rgba(12, 12, 12, 0.927);
  font-family: "Averia Serif Libre", cursive;
  font-weight: 900;
  padding: 1rem;
  margin-top: -2rem;
  padding-left: 6rem;
  text-shadow: 0px 0px 20px rgb(142, 167, 60);
}
.hero__h2a {
  text-align: left;
  position: absolute;
  font-size: 2rem;
  color: rgb(248, 247, 247);
  font-family: "Averia Serif Libre", cursive;
  font-weight: 100;
  padding: 1rem;
  margin-top: 5rem;
  padding-left: 7rem;
  text-shadow: 0px 0px 20px rgb(142, 167, 60);
}

.hero__h2 {
  rotate: -13deg;
  font-weight: bold;
  font-style: italic;
  font-size: 1.5rem;
  font-family: "Averia Serif Libre", cursive;
  color: rgb(142, 167, 60);
  animation: fadeInOut 3s infinite;
  margin-top: 12rem;
  text-shadow: 0px 0px 20px rgb(250, 247, 247);
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.boxes {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  padding-top: 3rem;
}

.box {
  flex: 1;
  margin: 0 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: 0.1rem solid rgb(68, 80, 27);
  background-color: white;
}

.box-image {
  height: 200px;
  background-size: cover;
  background-position: center;
}

.box-content {
  padding: 20px;
  background-color: white;
  text-align: center;
}

.box h2 {
  margin: 0;
  font-size: 1.5em;
  color: black;
}

.box p {
  text-indent: 50px; /* Indent the first line */
  margin: 10px 0;
  font-size: 1em;
  color: black;
  text-align: start;
}

footer {
  text-align: center;
  font-size: 1rem;
  color: rgb(213, 217, 200);
  background-color: #1f1404;
  padding: 0.1rem;
  margin-top: 1.7rem;
  display: flex;
  flex-direction: column;
  position: sticky;
  bottom: 0;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .hero__h1 {
    font-size: 3rem;
    margin-top: -0.5rem;
  }
  .hero__h2a {
    font-size: 1.4rem;
    margin-top: 3rem;
  }

  .hero__h2 {
    font-size: 1.5rem;
    margin-top: 11rem;
  }
}

@media (max-width: 768px) {
  .hero__h1 {
    font-size: 2.5rem;
    padding-left: 5rem;
  }
  .hero__h2a {
    font-size:  1.2rem;
    padding-left: 5.6rem;
  }

  .hero__h2 {
    font-size: 1.5rem;
    margin-top: rem;
  }

  .boxes {
    flex-direction: column;
    align-items: center;
  }

  .box {
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .hero__h1 {
    font-size: 2.3rem;
    padding-left: 2.6rem;
    margin-top: -3rem;
  }
  .hero__h2a {
    font-size: 1.0rem;
    padding-left: 3rem;
    margin-top: 0.2rem;
  }

  .hero__h2 {
    font-size: 1.5rem;
    margin-top: 11rem;
  }

  .box {
    width: 100%;
    max-width: 400px;
  }
}
.hamburger, .close {
  border: none;
  cursor: pointer;
  /* position absolute position the icons relative to the body because they have no position relative parents*/
  position: absolute;
  top: 10px;
  right: 20px;
  width: 36px;
  height: 36px;
}

.hamburger {
  background: rgb(142, 167, 60);
  border-radius: 50%;
}

.close {
  background: rgb(142, 167, 60);
  border-radius: 50%;
}

.hamburger img, .close img {
  width: 100%;
  height: 100%;
}

.navbar {
  position: absolute;
  /* a higher z-index put navbar above hamburger */
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  /* basic menu styling*/
  list-style: none;
  background: hsla(36, 78%, 7%, 0.899);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  /* animate slide up/down */
  transform: translateY(-100%);
  transition: transform 0.5s ease;
  will-change: transform;
}

/* :target is called when its anchor id #navbar is called by clicking on the hamburger which has href="#navbar" */

.navbar:target {
  /* show navbar */
  transform: translateY(0);
}

li a {
  display: block;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  /* remove default underline and add our own with padding and border bottom */
  text-decoration: none;
  border-bottom: 1px solid black;
  padding-bottom: 0.5rem;
}

li a:hover, li a:focus {
  /* show border bottom */
  border-bottom: 1px solid white;
}
